:root {
  --bs-primary: #231F4D;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.full-heigth {
  min-height: 100vh;
  height: 100%;
}

header {
  background: rgb(114,169,143);
  background: -moz-linear-gradient(45deg, #72a98f 18%, rgba(141,233,105,1) 79%);
  background: -webkit-linear-gradient(45deg, #72a98f 18%, #8de969 79%);
  background: linear-gradient(45deg, rgba(114,169,143,1) 18%, rgba(141,233,105,1) 79%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#72a98f",endColorstr="#8de969",GradientType=1); 
}

#sello  {
  width: 80%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(12px 6px 8px rgba(0, 0, 0, 0.459));
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: none !important;
    flex-basis: auto;
  }
}

.nav-link{
  font-family: "Lexend", sans-serif;
}